
.wrapper {
    margin-bottom: 10px;

    border: 1px solid #ddd;
    border-radius: 4px;

    overflow: hidden;
}

.summary {
    padding: 8px;

    background-color: #eee;

    cursor: pointer;
    border-left: 4px solid transparent;
}

.summary.added {
    border-left-color: green;
    color: green;
}

.summary.removed {
    border-left-color: red;
    color: red;
}

.summary.changed {
    border-left-color: royalblue;
    color: royalblue;
}

.summary.unchanged {
    border-left-color: #333;
    color: #333;
}

.content {
    padding: 8px;

    background-color: #fafafa;
}
