
.item {
    margin-left: 12px;
}

.label {
    display: flex;
    align-items: center;
    gap: 6px;

    padding: 4px;

    cursor: pointer;
}

.icon {
    display: inline-block;
    width: 18px;
    text-align: center;
}

.folderIcon {
    font-size: 0.8em;
    color: #666;
    transition: transform 0.2s;
}

.folderIcon.open {
    transform: rotate(90deg);
}

.assetIcon {
    font-size: 0.9em;
    color: #666;
}

.children {
    margin-left: 8px;
}

.added {
    color: green;
}

.removed {
    color: red;
}

.changed {
    color: royalblue;
}

.unchanged {
    color: #333;
}
